body{
    margin: 0;
}

.cont-gral{
    display: block;
    height: 300px;
    width: auto;
}

.img0{
    border: solid 1px;
    display:inline-flex;
    height: 200px;
    width: 10%;
}

.img1{
    border: solid 1px;
    display: inline-flex;
    height: 200px;
    width: 78%;
}

