.cont-texto{
    height: 100px;
}

h4{
    font-size: 60px;
    text-align: center;
    margin-top: 20%;
}

p{
    font-size: 80px;
    margin: 10px;
    text-align: center;
    
}

.cont-botones{
    height: 50px;
    align-content: flex-end;
    text-align: center;
}

button{
    display:inline-flex;
    font-size: 30px;
    padding: 10px;
}